.playlists {
  overflow: hidden;
  padding: 0 30px;
}

.playlist-row {
  display: flex;
  height: 210px;
  padding: 20px;
  overflow-x: scroll;
}

.playlist-row::-webkit-scrollbar {
  display: none;
}
