.track-player {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 85%;
  bottom: 0;
  padding: 10px 30px;
  background-color: #fff;
  border-top: 1px solid whitesmoke;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.track-player i {
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  color: #aaa;
}

/* .image {
  width: 10%;
} */

.image img {
  border: 1px solid #aaa;
  height: 50px;
  margin: 10px;
}

.controls {
  min-width: 150px;
  display: flex;
  align-items: center;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #aaa;
}

.options {
  min-width: 150px;
  margin: 20px;
  padding-right: 20px;
}
