.header {
  background-color: #ffb5a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 230px;
  overflow: hidden;
}

.hero-img {
  transform: scaleX(-1);
  height: 330px;
  margin-left: -40px;
  margin-top: -20px;
}

.header-info {
  color: white;
  line-height: 1;
  text-align: right;
  min-width: 350px;
  position: absolute;
  right: 20px;
}

.header-info h1 {
  font-size: 30px;
}

.header-info h2 {
  font-size: 25px;
}
