.header {
  background-color: #ffb5a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  overflow: hidden;
  border-top-right-radius: 10px;
}

.hero-img {
  transform: scaleX(-1);
  height: 300px;
  margin-left: -30px;
  margin-top: -20px;
}

.header-info {
  color: white;
  padding: 20px;
  line-height: 1;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

.header-info h1 {
  font-size: 30px;
}

.header-info h2 {
  font-size: 25px;
}
