.discover {
  padding: 50px;
}

.sub-title {
  display: flex;
  align-items: center;
}

.sub-title p {
  font-weight: 900;
  color: #aaa;
  width: 220px;
}

.line {
  height: 1px;
  background-color: #aaa;
  width: 80%;
  margin-left: 10px;
}
