.sidebar {
  background-color: #574fd8;
  width: 15%;
  height: 100vh;
  position: fixed;
}

.sidebar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

.profile-img {
  width: 40%;
  margin-bottom: -5px;
  min-width: 30px;
}

@media (max-width: 800px) {
  .sidebar-profile p {
    display: none;
  }
}
