.sidebar {
  background-color: #574fd8;
  width: 280px;
  height: 100vh;
  border-top-left-radius: 10px;
}

.sidebar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 100%;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

.profile-img {
  width: 30%;
  margin-bottom: -5px;
}
