*,
*::before,
*::after {
  box-sizing: border-box;
}
.app {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.main {
  width: 85%;
  margin-left: 15%;
}

p {
  font-size: 12px;
}

/* @media (max-width: 500px) {
} */
